---
import Pagination from "./pagination.astro";
import MiniPagination from "./mini-pagination.astro";
const { pagination, slug } = Astro.props;
---
<style lang="scss" is:global>
  [data-posts-collection] {
    @extend %primary-wrapper;
    padding: $layout_gutter;

    > header {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
    
    .articles {
      @extend %collection-wrapper;
    }
  }
</style>
<section data-posts-collection>
  <header>
    <h1 class="h1">{slug}</h1>
    { pagination.lastPage > 1 &&
      <MiniPagination pagination={pagination}/>
    }
  </header>
  <div class="articles">
    <slot />
  </div>
  { pagination.lastPage > 1 &&
    <Pagination pagination={pagination} slug={slug} />
  }
</section>