---
import CTA from "../global/cta/cta.astro";
const { pagination: { url } } = Astro.props;
const { prev, next } = url;
---
<style lang="scss" is:global>
  [data-posts-mini-pagination] {
    a {
      margin-left: .25em;
      margin-right: .25em;
    }
  }
</style>
<div data-posts-mini-pagination>
  { prev && <CTA style="simple" link={prev}>Prev</CTA>}
  { next && <CTA style="simple" link={next}>Next</CTA>}
</div>