---
import CTA from "../global/cta/cta.astro";
const { pagination, slug } = Astro.props;
---
<style lang="scss" is:global>
  [data-layout-pagination] {
    text-align: center;
    margin: 1.5rem 0;

    a {
      margin-left: .25em;
      margin-right: .25em;
    }
  }
</style>

<div data-layout-pagination>
  { Array(pagination.lastPage)
    .fill(null)
    .map((v,index) => {
      const pageIndex = index + 1;
      return (
        <CTA style="simple" link={`/${slug}${ pageIndex === 1 ? '/' : `/${pageIndex}/`}`}>{ pageIndex }</CTA>
      )
    })
  }
</div>