paths:
  uploads: public/uploads/[collection]
  static: public
  data: data
collections_config:
  data:
    path: data
    output: false
    icon: settings
    disable_add: true
    disable_add_folder: true
    disable_file_actions: false
  pages:
    path: src/content/pages
    output: true
    url: /[slug]/index.html
    name: Pages
    icon: web
    singular_name: Page
    _enabled_editors:
      - visual
      - data
      - source
    disable_add: false
    disable_add_folder: false
    disable_file_actions: false
    schemas:
      page:
        path: schemas/page.md
        new_preview_url: /404/
        preview:
          icon: web
          metadata:
            - icon: visibility_off
              text:
                - key: hidden
      paginated_posts:
        path: schemas/paginated_posts.md
        preview:
          icon: apps
          metadata:
            - icon: visibility_off 
              text:
                - key: hidden
    sort_options:
      - key: title
        order: asc
        label: Title Asc
      - key: title
        order: desc
        label: Title Desc
    filter:
      base: all
      include:
        - 404.md
  blog:
    parser: front-matter
    path: src/content/blog
    output: true
    url: /blog/[slug]/index.html
    name: Blog
    icon: wysiwyg
    singular_name: Blog Post
    preview:
      text:
        - key: headline
      subtext:
        - key: slug
      metadata:
        - text:
            - key: hidden
          icon: visibility_off
    _editables:
      content:
        blockquote: true
        bold: true
        bulletedlist: true
        code: true
        embed: true
        format: p h1 h2 h3 h4 pre address div
        horizontalrule: true
        image_size_attributes: false
        indent: true
        italic: true
        link: true
        numberedlist: true
        outdent: true
        resize_style: contain
        snippet: true
        strike: true
        subscript: true
        superscript: true
        table: true
        underline: true
    _enabled_editors:
      - content
      - data
      - source
    _inputs:
      published:
        type: date
        label: Published Date
    disable_add: false
    disable_add_folder: true
    disable_file_actions: false
    schemas:
      blog:
        path: schemas/blog.mdx
        reorder_inputs: true
        hide_extra_inputs: false
        remove_empty_inputs: false
        remove_extra_inputs: true
        icon: wysiwyg
  projects:
    parser: front-matter
    path: src/content/projects
    output: true
    url: /projects/[slug]/index.html
    name: Projects
    icon: work
    singular_name: Project
    preview:
      text:
        - key: headline
      subtext:
        - key: slug
      metadata:
        - text:
            - key: hidden
          icon: visibility_off
    _editables:
      content:
        blockquote: true
        bold: true
        bulletedlist: true
        code: true
        embed: true
        format: p h1 h2 h3 h4 pre address div
        horizontalrule: true
        image_size_attributes: false
        indent: true
        italic: true
        link: true
        numberedlist: true
        outdent: true
        resize_style: contain
        snippet: true
        strike: true
        subscript: true
        superscript: true
        table: true
        underline: true
    _enabled_editors:
      - content
      - data
      - source
    _inputs:
      published:
        label: Project Date
        type: date
      tags:
        type: array
      tags[*]:
        type: text
      category:
        type: select
        options:
          allow_empty: true
          values: _select_data.category
    _select_data:
      category:
        - Development
        - Analytics
        - Optimization
    disable_add: false
    disable_add_folder: true
    disable_file_actions: false
    schemas:
      project:
        path: schemas/project.mdx
        icon: work
collection_groups:
  - heading: Pages
    collections:
      - pages
  - heading: Posts
    collections:
      - blog
      - projects
  - heading: Site Settings
    collections:
      - data
_inputs:
  show_share:
    type: switch
  show_comments:
    type: switch
  excerpt:
    type: markdown
  published:
    type: date
  read_time:
    type: number
  page_size:
    type: range
    options:
      min: 2
      max: 10
      step: 1
      empty_type: number
    label: Pagination
    comment: How many pages to display in a pagination set.
  loading:
    type: select
    options:
      values: _select_data.loading
  uuid:
    type: text
    instance_value: UUID
    hidden: true
    cascade: false
  hidden:
    type: switch
    label: Draft Mode
  content:
    type: markdown
    options:
      allow_resize: true
      initial_height: 320
      bold: true
      bulletedlist: true
      format: p h1 h2 h3 h4
      horizontalrule: true
      image_size_attributes: true
      indent: true
      italic: true
      numberedlist: true
      outdent: true
      redo: true
      strike: true
      styles: /src/styles/cloudcannon_editor.css
      # left: rt-left
      # right: rt-right
      # center: rt-center
      # justify: rt-justify
      undo: true
  testimonial:
    type: markdown
    options:
      allow_resize: true
      initial_height: 320
      bold: true
      format: p div
      image_size_attributes: true
      italic: true
      link: true
  blog_uuid:
    label: Blog Post
    type: select
    options:
      values: collections.blog
      value_key: uuid
  project_uuid:
    label: Project Post
    type: select
    options:
      values: collections.projects
      value_key: uuid
  seo:
    type: object
    options:
      preview:
        icon: travel_explore
        image:
          - key: featured_image
        subtext:
          - key: page_description
          - No Description
        text:
          - key: page_title
          - No Title
    comment: Set page title, description, canonical, share image, and no follow.
  seo.page_title:
    type: auto
    comment: Ideal length is 60-70 characters.
  seo.page_description:
    type: auto
    comment: Ideal length is 150-160 characters.
  seo.canonical_url:
    type: auto
    comment: Relative paths only.
  seo.featured_image:
    type: object
    comment: Open graph image used in social media.
    options:
      structures: _structures.image
  seo.no_index:
    type: checkbox
    comment: >-
      When selected this removes the page from your sitemap and adds the noindex
      robots meta tag
  seo.open_graph_type:
    type: select
    options:
      values:
        - website
        - article
        - video
  post_image:
    type: object
    options:
      preview:
        icon: false
        image:
          - key: path
        text:
          - key: title
        subtext:
          - key: alt
  post_image.src:
    type: image
    comment: Use image with aspect ratio of 333:125 or 2664x1000 with a logo or graphic on the left.
  post_image.alt:
    type: text
  post_image.title:
    type: text
  testimonials:
    type: array
  testimonials[*]:
    type: select
    options:
      value_key: uuid
      values: data.testimonials
      preview:
        text:
          - key: name
        image:
          - key: image
  content_blocks[*].section:
    type: object
    options:
      preview:
        icon: false
        subtext: false
        text: false
        metadata:
          - icon: format_paint
            text:
              - key: background
          - icon: gradient
            text:
              - key: transition
    label: Section Styles
    comment: Set the transition and background of section.
  content_blocks[*].section.transition:
    type: select
    options:
      allow_empty: true
      values: _select_data.section_transition
    comment: Set the graphic that is displayed between blocks on a page.
  content_blocks[*].section.background:
    type: select
    options:
      allow_empty: true
      values: _select_data.section_background
    comment: Set the background of the block on the page.
  content_blocks[*].layout:
    type: object
    comment: Set some basic layout of section.
    options:
      preview:
        icon: false
        subtext: false
        text: false
        metadata:
          - icon: image
            text:
              - key: image_align
          - icon: image
            text:
              - key: image_vert
          - icon: aspect_ratio
            text:
              - key: image_width
          - icon: text_format
            text:
              - key: text_align
          - icon: flip
            text:
              - key: orintation
          - icon: photo_size_select_small
            text:
              - key: is_mini
  content_blocks[*].layout.image_align:
    type: select
    options:
      allow_empty: true
      values: _select_data.layout_image_align
    comment: Set the alignment of image.
  content_blocks[*].layout.image_vert:
    type: select
    options:
      allow_empty: true
      values: _select_data.layout_image_vert
    comment: Set the vertical alignment of image.
  content_blocks[*].layout.image_width:
    type: select
    options:
      allow_empty: true
      values: _select_data.layout_image_width
    comment: Set the width of image.
  content_blocks[*].layout.text_align:
    type: select
    options:
      allow_empty: true
      values: _select_data.layout_text_align
    comment: Set the alignment of text.
  content_blocks[*].layout.orintation:
    type: select
    options:
      values: _select_data.layout_orintation
    comment: Set the orintation direction.
  content_blocks[*].layout.is_mini:
    type: checkbox
    comment: Set the content width to small.
_select_data:
  loading:
    lazy: Lazy
    eager: Eager
  section_transition:
    none: None
    curve: Curve
    swoosh: Swoosh
  section_background:
    primary: Primary
    secondary: Secondary
    loud: Loud
  layout_image_align:
    left: Left
    center: Center
    right: Right
  layout_image:
    left: Left
    right: Right
  layout_image_vert:
    flex-start: Top
    center: Center
    flex-end: Bottom
  layout_image_width:
    small: Small
    large: Large
  layout_text_align:
    left: Left
    center: Center
    right: Right
  layout_orintation:
    left: Left
    top: Top
    right: Right
  cta_style:
    primary: Primary
    secondary: Secondary
    loud: Loud
_structures:
  collection_card:
    values:
      - label: Project Post
        icon: work
        value:
          _type: project
          project_uuid:
      - label: Blog Post
        icon: wysiwyg
        value:
          _type: blog
          blog_uuid:
  content_blocks:
    style: modal
_editables: {}
data_config:
  testimonials:
    path: data/testimonials.json
    parser: json
timezone: America/Los_Angeles
# file_config:
#   - path: data/testimonials.json
#     _inputs:
#       name:
#         type: text
#       company:
#         type: text
#       title:
#         type: text
#       headshot_image:
#         type: image
#       testimonial_textarea:
#         type: textarea
_snippets_imports:
  mdx: true
_snippets:
  media:
    template: mdx_component
    inline: false
    preview:
      text: Media
      icon: image
    definitions:
      component_name: SnipMedia
      named_args:
        - editor_key: caption
          type: string
        - editor_key: src
          type: string
        - editor_key: jumbo
          type: boolean
    _inputs:
      src:
        type: text
      caption:
        type: text
      jumbo:
        type: switch
  image:
    template: mdx_component
    inline: false
    preview:
      text: Image
      icon: image
      image:
        - key: path
        - false
      subtext:
        - key: caption
        - No caption set yet.
      metadata:
        - icon: aspect_ratio
          text:
            - key: ar
            - No aspect ratio set yet.
        - icon: description
          text:
            - key: alt
            - No alt text set yet.
        - icon: settings_overscan
          text:
            - key: jumbo
    definitions:
      component_name: SnipImage
      named_args:
        - editor_key: caption
          type: string
        - editor_key: src
          type: string
        - editor_key: width
          type: number
        - editor_key: height
          type: number
        - editor_key: alt
          type: string
        - editor_key: jumbo
          type: boolean
        - editor_key: loading
          type: string
    _inputs:
      src:
        type: image
      caption:
        type: text
      alt:
        type: text
      width:
        type: number
      height:
        type: number
      jumbo:
        type: switch
  quote:
    template: mdx_paired_component
    inline: false
    preview:
      text: Quote
      icon: format_quote
      subtext:
        - key: blockquote
        - No blockquote set yet.
      metadata:
        - icon: face
          text:
            - key: cite
            - No cite name set yet.
    definitions:
      component_name: SnipQuote
      content_key: blockquote
      named_args:
        - editor_key: cite
          type: string
    _inputs:
      blockquote:
        type: textarea
        comment: What is the quote?
      cite:
        type: text
        comment: Who said it?