paths:
  data: data
  static: public
  uploads: public/uploads/[collection]
collections_config:
  data:
    path: data
    disable_add: true
    disable_add_folder: true
  pages:
    path: src/content/pages
    output: true
    url: /[slug]/index.html
    name: Pages
    icon: web
    singular_name: Page
    _enabled_editors:
      - visual
      - data
      - source
    # create: [relative_base_path]/{slug}.md
    _editables: {}
    _inputs:
      content_blocks:
        options:
          structures: _structures.page_blocks
          empty_type: null
    _select_data: {}
    _structures: {}
    disable_add: false
    disable_add_folder: false
    disable_file_actions: false
    schemas:
      page:
        path: schemas/page.md
      paginated_posts:
        path: schemas/paginated_posts.md
  blog:
    path: src/content/blog
    output: true
    url: /blog/[slug]/index.html
    name: Blog
    icon: wysiwyg
    singular_name: Blog Post
    _enabled_editors:
      - content
      - data
      - source
    _editables: {}
    _inputs: {}
    _select_data: {}
    _structures: {}
    disable_add: false
    disable_add_folder: false
    disable_file_actions: false
    schemas:
      post:
        path: schemas/post.md
  projects:
    path: src/content/projects
    output: true
    url: /projects/[slug]/index.html
    name: Projects
    icon: work
    singular_name: Project
    _enabled_editors:
      - content
      - data
      - source
    _editables: {}
    _inputs: {}
    _select_data: {}
    _structures: {}
    disable_add: false
    disable_add_folder: false
    disable_file_actions: false
    schemas:
      post:
        path: schemas/post.md
collection_groups:
  - heading: Pages
    collections:
      - pages
  - heading: Posts
    collections:
      - blog
      - projects
  - heading: Settings
    collections:
      - data
_inputs:
  title:
    comment: Page title displayed in browser tab.
  hidden:
    comment: Enabling this will stop page from being built.
    type: checkbox
  content:
    type: markdown
    options:
      styles: /src/styles/cloudcannon_editor.css
      bold: true
      format: p h1 h2 h3 h4
      italic: true
      strike: true
      bulletedlist: true
      indent: true
      numberedlist: true
      outdent: true
      horizontalrule: true
      undo: true
      redo: true
  image:
    type: object
    options:
      structures: _structures.image
  image.path:
    type: image
  image.alt:
    type: text
  seo:
    comment: Set page title, description, canonical, share image, and no follow.
    type: object
    options:
      preview:
        icon: travel_explore
        image:
          - key: featured_image
        text:
          - key: page_title
          - No Title
        subtext:
          - key: page_description
          - No Description
  seo.page_title:
    comment: Ideal length is 60-70 characters.
  seo.page_description:
    comment: Ideal length is 150-160 characters.
  seo.canonical_url:
    comment: Relative paths only.
  seo.featured_image:
    comment: Open graph image used in social media.
  seo.featured_image_alt:
    comment: Open graph image alternate text to descibe the image.
  seo.no_index:
    type: checkbox
    comment: When selected this removes the page from your sitemap and adds the noindex robots meta tag
  cta:
    type: object
    options:
      structures: _structures.cta
  cta.label:
    type: text
  cta.link:
    type: url
  cta.style:
    type: select
    options:
      values: _select_data.cta_style
  content_blocks[*].section:
    label: Section Styles
    comment: Set the transition and background of section.
    type: object
    options:
      preview:
        icon: palette
        text:
          - key: transition
        subtext:
          - key: background
  content_blocks[*].section.transition:
    comment: Set the graphic that is displayed between blocks on a page.
    type: select
    options:
      values: _select_data.section_transition
  content_blocks[*].section.background:
    comment: Set the background of the block on the page.
    type: select
    options:
      values: _select_data.section_background
  content_blocks[*].layout:
    comment: Set some basic layout of section.
    type: object
  content_blocks[*].layout.image_align:
    comment: Set the alignment of image.
    type: select
    options:
      values: _select_data.layout_image_align
  content_blocks[*].layout.image_width:
    comment: Set the width of image.
    type: select
    options:
      values: _select_data.layout_image_width
  content_blocks[*].layout.text_align:
    comment: Set the alignment of text.
    type: select
    options:
      values: _select_data.layout_text_align
  content_blocks[*].layout.is_mini:
    comment: Set the content width to small.
    type: checkbox
_select_data:
  section_transition:
    none: None
    curve: Curve
    swoosh: Swoosh
  section_background:
    primary: Primary
    secondary: Secondary
    loud: Loud
  layout_image_align:
    left: Left
    center: Center
    right: Right
  layout_image_width:
    small: Small
    large: Large
  layout_text_align:
    left: Left
    center: Center
    right: Right
  cta_style:
    primary: Primary
    secondary: Secondary
    loud: Loud
_structures:
  page_blocks:
    style: modal
  image:
    values:
      - default: true
        value:
          path:
          alt:
        preview:
          icon: false
          image:
            - key: path
          text:
            - key: path
          subtext:
            - key: alt
  cta:
    values:
      - default: true
        preview:
          icon: ads_click
          text:
            - key: label
            - No Label
          subtext:
            - key: link
            - No URL
        value:
          label: Click Me
          link:
          style: primary
_editables: {}
timezone: America/Los_Angeles
