paths:
  uploads: public/uploads/[collection]
  static: public
  data: data
collections_config:
  data:
    path: data
    output: false
    icon: notes
    disable_add: true
    disable_add_folder: true
    disable_file_actions: false
  pages:
    path: src/content/pages
    output: true
    url: /[slug]/index.html
    name: Pages
    icon: web
    singular_name: Page
    _editables: {}
    _enabled_editors:
      - visual
      - data
      - source
    _inputs:
      content_blocks:
        type: auto
        options:
          structures: _structures.page_blocks
          empty_type:
        cascade: true
    _select_data: {}
    _structures: {}
    disable_add: false
    disable_add_folder: false
    disable_file_actions: false
    schemas:
      page:
        path: schemas/page.md
        reorder_inputs: true
        hide_extra_inputs: false
        remove_empty_inputs: false
        remove_extra_inputs: true
        icon: notes
      paginated_posts:
        path: schemas/paginated_posts.md
        reorder_inputs: true
        hide_extra_inputs: false
        remove_empty_inputs: false
        remove_extra_inputs: true
        icon: notes
  blog:
    path: src/content/blog
    output: true
    url: /blog/[slug]/index.html
    name: Blog
    icon: wysiwyg
    singular_name: Blog Post
    _editables:
      content:
        blockquote: true
        bold: true
        bulletedlist: true
        code: true
        embed: true
        format: p h1 h2 h3 h4 pre address div
        horizontalrule: true
        image_size_attributes: false
        indent: true
        italic: true
        link: true
        numberedlist: true
        outdent: true
        resize_style: contain
        snippet: true
        strike: true
        subscript: true
        superscript: true
        table: true
        underline: true
    _enabled_editors:
      - content
      - data
      - source
    _inputs:
      feature_image:
        type: object
        options:
          structures: _structures.image
      published:
        type: date
        label: Published Date
    _select_data: {}
    _structures: {}
    disable_add: false
    disable_add_folder: true
    disable_file_actions: false
    schemas:
      blog:
        path: schemas/blog.mdx
        reorder_inputs: true
        hide_extra_inputs: false
        remove_empty_inputs: false
        remove_extra_inputs: true
        icon: notes
  projects:
    path: src/content/projects
    output: true
    url: /projects/[slug]/index.html
    name: Projects
    icon: work
    singular_name: Project
    _editables:
      block:
        image_size_attributes: true
        snippet: true
      content:
        image_size_attributes: true
        snippet: true
    _enabled_editors:
      - content
      - data
      - source
    _inputs:
      published:
        label: Project Date
        type: date
      tags:
        type: array
      tags[*]:
        type: text
      category:
        type: select
        options:
          allow_empty: true
          values: _select_data.category
        cascade: true
    _select_data:
      category:
        - Development
        - Analytics
        - Optimization
    _structures: {}
    disable_add: false
    disable_add_folder: true
    disable_file_actions: false
    schemas:
      project:
        path: schemas/project.mdx
        reorder_inputs: true
        hide_extra_inputs: false
        remove_empty_inputs: false
        remove_extra_inputs: true
        icon: notes
collection_groups:
  - heading: Pages
    collections:
      - pages
  - heading: Posts
    collections:
      - blog
      - projects
  - heading: Site Settings
    collections:
      - data
_inputs:
  show_share:
    type: switch
    cascade: true
  show_comments:
    type: switch
    cascade: true
  excerpt:
    type: markdown
    cascade: true
  published:
    type: date
    cascade: true
  read_time:
    type: number
    cascade: true
  page_size:
    type: range
    options:
      min: 2
      max: 10
      step: 1
      empty_type: number
    label: Pagination
    comment: How many pages to display in a pagination set.
    cascade: true
  lazyload:
    type: select
    options:
      values: _select_data.lazyload
  uuid:
    type: text
    instance_value: UUID
    hidden: true
    cascade: false
  hidden:
    type: checkbox
    comment: Enabling this will stop page from being built.
    cascade: true
  content:
    type: markdown
    options:
      allow_resize: true
      initial_height: 320
      bold: true
      bulletedlist: true
      format: p h1 h2 h3 h4
      horizontalrule: true
      image_size_attributes: true
      indent: true
      italic: true
      numberedlist: true
      outdent: true
      redo: true
      strike: true
      styles: /src/styles/cloudcannon_editor.css
      undo: true
    cascade: true
  testimonial:
    type: markdown
    options:
      allow_resize: true
      initial_height: 320
      bold: true
      format: p div
      image_size_attributes: true
      italic: true
      link: true
    cascade: true
  seo:
    type: object
    options:
      preview:
        icon: travel_explore
        image:
          - key: featured_image
        subtext:
          - key: page_description
          - No Description
        text:
          - key: page_title
          - No Title
    comment: Set page title, description, canonical, share image, and no follow.
    cascade: true
  seo.page_title:
    type: auto
    comment: Ideal length is 60-70 characters.
    cascade: true
  seo.page_description:
    type: auto
    comment: Ideal length is 150-160 characters.
    cascade: true
  seo.canonical_url:
    type: auto
    comment: Relative paths only.
    cascade: true
  seo.featured_image:
    type: object
    comment: Open graph image used in social media.
    options:
      structures: _structures.image
  seo.no_index:
    type: checkbox
    comment: >-
      When selected this removes the page from your sitemap and adds the noindex
      robots meta tag
    cascade: true
  testimonials:
    type: array
    cascade: true
  testimonials[*]:
    type: select
    options:
      value_key: uuid
      values: data.testimonials
      preview:
        text:
          - key: name
        image:
          - key: image
    cascade: true
  content_blocks[*].section:
    type: object
    options:
      preview:
        icon: palette
        subtext:
          - key: background
        text:
          - key: transition
    label: Section Styles
    comment: Set the transition and background of section.
    cascade: true
  content_blocks[*].section.transition:
    type: select
    options:
      allow_empty: true
      values: _select_data.section_transition
    comment: Set the graphic that is displayed between blocks on a page.
    cascade: true
  content_blocks[*].section.background:
    type: select
    options:
      allow_empty: true
      values: _select_data.section_background
    comment: Set the background of the block on the page.
    cascade: true
  content_blocks[*].layout:
    type: object
    comment: Set some basic layout of section.
    cascade: true
  content_blocks[*].layout.image_align:
    type: select
    options:
      allow_empty: true
      values: _select_data.layout_image_align
    comment: Set the alignment of image.
    cascade: true
  content_blocks[*].layout.image_width:
    type: select
    options:
      allow_empty: true
      values: _select_data.layout_image_width
    comment: Set the width of image.
    cascade: true
  content_blocks[*].layout.text_align:
    type: select
    options:
      allow_empty: true
      values: _select_data.layout_text_align
    comment: Set the alignment of text.
    cascade: true
  content_blocks[*].layout.orintation:
    type: select
    options:
      values: _select_data.layout_orintation
    comment: Set the orintation direction.
  content_blocks[*].layout.is_mini:
    type: checkbox
    comment: Set the content width to small.
    cascade: true
_select_data:
  lazyload:
    lazy: Lazy
    eager: Eager
  section_transition:
    none: None
    curve: Curve
    swoosh: Swoosh
  section_background:
    primary: Primary
    secondary: Secondary
    loud: Loud
  layout_image_align:
    left: Left
    center: Center
    right: Right
  layout_image_width:
    small: Small
    large: Large
  layout_text_align:
    left: Left
    center: Center
    right: Right
  layout_orintation:
    left: Left
    top: Top
    right: Right
  cta_style:
    primary: Primary
    secondary: Secondary
    loud: Loud
_structures:
  page_blocks:
    style: modal
_editables: {}
data_config:
  testimonials:
    path: data/testimonials.json
    parser: json
timezone: America/Los_Angeles
_snippets_imports:
  mdx: true
_snippets:
  link:
    template: mdx_component
    inline: true
    preview:
      text: Link
    definitions:
      component_name: Link
      named_args:
        - editor_key: label
          type: string
        - editor_key: link
          type: string
      _inputs:
        label:
          type: text
          cascade: true
        link:
          type: url
          cascade: true
