---
import MarkdownIt from 'markdown-it';
import CTA from 'src/components/global/cta/cta.astro';
const { content, cta, section, layout } = Astro.props;
const md = new MarkdownIt({ html: true });
---
<style lang="scss" is:global>
  .wrapper[data-text] {
    @extend %primary-wrapper;

    .content {
      padding: 4.5rem 0;
    }
  }
</style>

<div class:list={['wrapper','mini']} data-text>
  <div class:list={['content', `text-${layout.text_align}`]}>
    { content && <div class="rt" set:html={md.render(content)}></div>}
    { cta && <CTA {...cta} />}
  </div>
</div>