---
import MarkdownIt from 'markdown-it';
import CTA from 'src/components/cta.astro';
const { content, cta, section, layout } = Astro.props;
const md = new MarkdownIt({ html: true });
---
<style lang="scss">
  .wrapper {
    @extend %primary-wrapper;
  }
  .content {
    padding: 4.5rem 0;
  }
</style>

<div class:list={['wrapper', { mini: layout.is_mini }]}>
  <div class:list={['content', { 'rt-center ': layout.text_align === 'center'}]}>
    { content && <div class="rt" set:html={md.render(content)}></div>}
    { cta && <CTA {...cta} />}
  </div>
</div>