---

---
<style lang="scss" is:global>
  .testimonial-single {
    @extend %primary-wrapper;

    > .testimonial {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  }
</style>

<div class="testimonial-single" data-testimonial-single>
  <div class="testimonial">
    This is a single testimonial
  </div>
</div>