---
import MarkdownIt from 'markdown-it';
import testimonialsData from 'data/testimonials.json';
import Testimonial from 'src/components/cards/testimonial.astro';
const { content, testimonials } = Astro.props;
const md = new MarkdownIt({ html: true });
---
<style lang="scss" is:global>
  [data-cards-testimonials] {
    @extend %primary-wrapper;
  
    > header {
      text-align: center;
      padding-top: 4.5rem;
      padding-bottom: 3rem;
    }
    .rt > * {
      margin-left: auto;
      margin-right: auto;
    }
    > ul {
      margin-top: 0;
      padding-left: 0;
      padding-bottom: 4.5rem;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2em;

      > li {
        @include media-tablet {
          flex: 0 0 30%;
        }
      }
    }
  }
</style>

<div data-cards-testimonials>
  <header>
    { content && <div class="rt" set:html={md.render(content)}></div>}
  </header>
  { testimonials && (
    <ul>
      { testimonials.map((item, index) => {
        const testimonial = testimonialsData.find(({uuid}) => uuid === item);
        return (
          <li>
            <Testimonial {...testimonial} index={index} />
          </li>
        )
        })}
    </ul>
  )}
</div>