:root {
  background-color: $color_primary;
  color: $color_text_default;
  font-family: $text_font_family;
  font-weight: $text_weight_normal;
  font-stretch: normal;
  font-variant: normal;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  // mobile default
  font-size: $text_mobile_font_size;
  line-height: $text_mobile_line_height;
  // laptop small
  @include media-laptop-sm-height {
    font-size: $text_laptop_font_size;
    line-height: $text_desktop_line_height;
  }
  @include media-desktop {
    font-size: $text_desktop_font_size;
  }
}

p,
ul,
ol,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: $text_mobile_line_height_root;
  margin-top: $text_mobile_line_height_root;

  @include media-laptop {
    margin-bottom: $text_desktop_line_height_root;
    margin-top: $text_desktop_line_height_root;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1em;
}

a {
  color: inherit;
  &:visited {
    color: inherit;
  }
}

/* ------------ STYLED TEXT CLASSES ------------ */

.list {
  padding-left: 1rem;
}

.highlight {
  color: $color_text_primary_highlight;

  .section--secondary & {
    color: $color_text_secondary_highlight;
  }

  .section--loud & {
    color: $color_text_loud_highlight;
  }
}

span.sup {
  vertical-align: text-bottom;
  font-size: 75%;
}

.eyebrow {
  opacity: 0.7;
  font-family: $text_font_family_alt;
  // mobile default
  font-size: $text_mobile_eyebrow;
  line-height: $text_mobile_eyebrow_line_height;
  // laptop small
  @include media-laptop {
    font-size: $text_desktop_eyebrow;
    line-height: $text_desktop_eyebrow_line_height;
  }
}

.hero_headline,
h1,.h1 {
  // mobile default
  font-size: $text_mobile_hero_headline;
  line-height: $text_mobile_hero_headline_line_height;
  // laptop small
  @include media-laptop {
    font-size: $text_desktop_hero_headline;
    line-height: $text_desktop_hero_headline_line_height;
  }
}

.section_headline,
h2,.h2 {
  // mobile default
  font-size: $text_mobile_section_headline;
  line-height: $text_mobile_section_headline_line_height;
  // laptop small
  @include media-laptop {
    font-size: $text_desktop_section_headline;
    line-height: $text_desktop_section_headline_line_height;
  }
}

.mini_headline,
h4,.h4 {
  // mobile default
  font-size: $text_mobile_mini_headline;
  line-height: $text_mobile_mini_headline_line_height;
  // laptop small
  @include media-laptop {
    font-size: $text_desktop_mini_headline;
    line-height: $text_desktop_mini_headline_line_height;
  }
}

h3,.h3 {
  // mobile default
  font-size: 1.3rem;
  line-height: 1.25em;
  // laptop small
  @include media-laptop {
    font-size: 1.5rem;
    line-height: 1.25em;
  }
}

.hero_headline,
.section_headline,
.mini_headline,
h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4 {
  margin-top: 0;
  font-weight: $text_weight_bold;
  strong {
    @extend .highlight;
    font-weight: inherit;
  }
}

.text-center {
  text-align: center;
  .rt > * {
    margin-left: auto;
    margin-right: auto;
  }
}
.text-left {
  text-align: left;
  .rt > * {
    margin-right: auto;
  }
}
.text-right {
  text-align: right;
  .rt > * {
    margin-left: auto;
  }
}

.rt {
  p {
    max-width: 34.5rem;
  }

  h1,h2,h3,h4 {
    max-width: 22em;
  }

  ul {
    padding-left: 1rem;
  }

  .eyebrow {
    margin-top: 0;
    margin-bottom: 0;
  }

  /* rich text wrapper - center text */
  .rt-center  {text-align: center;}
  .rt-left    {text-align: left;}
  .rt-right   {text-align: right;}
  .rt-justify {text-align: justify;}
}

.step-down {
  // mobile default
  font-size: $text_mobile_step_down;
  line-height: $text_mobile_step_down_line_height;
  // laptop small
  @include media-laptop {
    font-size: $text_desktop_step_down;
    line-height: $text_desktop_step_down_line_height;
  }
}

.small {
  // mobile default
  font-size: $text_mobile_small;
  line-height: $text_mobile_small_line_height;
  // laptop small
  @include media-laptop {
    font-size: $text_desktop_small;
    line-height: $text_desktop_small_line_height;
  }
}

.spacer {
  height: 1px;
}

/* ------------ ENGAGEMENT MARKER STYLES ------------ */
#gatsby-focus-wrapper {
  position: relative;
}
.engagmentMarker {
  position: absolute;
  opacity: 0;
}

// .keepscrolling {
//   @include media-tablet {
//     border: solid 2px $color_blue_1;
//     width: 16px;
//     height: 30px;
//     border-radius: 15px;
//     position: absolute;
//     left: 50%;
//     transform: translate(-50%, -80px);
//     animation: scrolling 6s infinite;

//     &:before {
//       content: '';
//       display: block;
//       background: $color_blue_1;
//       width: 4px;
//       height: 7px;
//       border-radius: 3px;
//       transform: translate(6px, 7px);
//     }
//   }
// }

// @keyframes scrolling {
//   0% {
//     transform: translate(-50%, -80px);
//     opacity: 1;
//   }

//   40% {
//     transform: translate(-50%, -50px);
//     opacity: 0;
//   }

//   41% {
//     transform: translate(-50%, -80px);
//     opacity: 0;
//   }
//   100% {
//     transform: translate(-50%, -80px);
//     opacity: 0;
//   }
// }
