h1.h2,
h1.h3 {
  --value: 'nothing';
}
h2.h1,
h2.h3 {
  --value: 'nothing';
}
h3.h1,
h3.h2 {
  --value: 'nothing';
}
h4.h1,
h4.h2,
h4.h3 {
  --value: 'nothing';
}
p.eyebrow {
  --value: 'nothing';
}

.rt-center  {text-align: center;}
.rt-left    {text-align: left;}
.rt-right   {text-align: right;}
.rt-justify { text-align: justify;}