---
import MarkdownIt from 'markdown-it';
import Image from 'src/components/global/image/image.astro';
import CTA from 'src/components/global/cta/cta.astro';
const { content, image, cta } = Astro.props;
const md = new MarkdownIt({ html: true });
---
<style lang="scss" is:global>
  [data-hero-splash] {
    @extend %primary-wrapper;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 75rem;
    
    @include media-tablet {
      display: grid;
      align-items: center;
      justify-content: center;
      min-height: 80vh;
      grid-template-columns:
        [content-start]
        45%
        [image-start]
        10%
        [content-end]
        45%
        [image-end]
      ;
    }

    > .content {
      position: relative;
      @include media-tablet-max {
        padding-bottom: 4rem;
      }
      @include media-tablet {
        grid-column: content;
        grid-row: 1 / span 1;
      }
    }
    > .image {
      position: relative;
      width: 100%;
      z-index: -1;
      margin-bottom: -100px;

      @include media-tablet {
        grid-column: image;
        grid-row: 1 / span 1;
        margin-bottom: 0;
      }
    }
  }
</style>

<div data-hero-splash>
  <div class="image">
  { image && <Image images={image}
      srcset={[600,768,900,1536]}
      sizes='(max-width: 1023px) 50vw,(max-width: 1380px) calc(90vw - 550px), 768px'
      sm_srcset={[400,600,800,1000,1200]}
      sm_sizes='90vw'
  />}
  </div>
  <div class="content">
    { content && <div class="rt" set:html={md.render(content)}></div>}
    { cta && <CTA {...cta} />}
  </div>
</div>
