.wrapper {
  @extend %primary-wrapper;
  @include media-tablet {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
  }
}
.content {
  @include media-tablet {
    flex: 0 1 auto;
  }
  @include media-tablet-max {
    padding-bottom: 4rem;
  }
}
.image {
  position: relative;
  z-index: -1;
  margin-bottom: -100px;

  @include media-tablet {
    flex: 0 0 40%;
    margin-bottom: 0;
  }
}