---
import MarkdownIt from 'markdown-it';
import Image from '@components/image.astro';
import CTA from '@components/cta.astro';
const { content, image, cta } = Astro.props;
const md = new MarkdownIt({ html: true });
---
<style lang="scss">
  .wrapper {
    @extend %primary-wrapper;
    @include media-tablet {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      min-height: 80vh;
    }
  }
  .content {
    @include media-tablet {
      flex: 0 1 auto;
    }
    @include media-tablet-max {
      padding-bottom: 4rem;
    }
  }
  .image {
    position: relative;
    z-index: -1;
    margin-bottom: -100px;

    @include media-tablet {
      flex: 0 0 40%;
      margin-bottom: 0;
    }
  }
</style>

<div class="wrapper">
  <div class="image">
  { image && <Image {...image} width="100" height="80" />}
  </div>
  <div class="content">
    { content && <div set:html={md.render(content)}></div>}
    { cta && <CTA {...cta} />}
  </div>
</div>
