---
import MarkdownIt from 'markdown-it';
import Image from 'src/components/global/image/image.astro';
import CTA from 'src/components/global/cta/cta.astro';
const { content, image, cta } = Astro.props;
const md = new MarkdownIt({ html: true });
---
<style lang="scss" is:global>
  [data-hero-splash] {
    @extend %primary-wrapper;
    
    @include media-tablet {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      min-height: 80vh;
    }

    > .content {
      position: relative;
      @include media-tablet-max {
        padding-bottom: 4rem;
      }
      @include media-tablet {
        flex: 0 0 50%;
      }
    }
    > .image {
      position: relative;
      width: 100%;
      z-index: -1;
      margin-bottom: -100px;

      @include media-tablet {
        flex: 0 0 50%;
        margin-bottom: 0;
      }
    }
  }
</style>

<div data-hero-splash>
  <div class="image">
  { image && <Image images={image} />}
  </div>
  <div class="content">
    { content && <div class="rt" set:html={md.render(content)}></div>}
    { cta && <CTA {...cta} />}
  </div>
</div>
