---
import MarkdownIt from 'markdown-it';
import Image from 'src/components/global/image/image.astro';
import CTA from 'src/components/global/cta/cta.astro';
const { content, image, cta, image:[firstImage] } = Astro.props;
const md = new MarkdownIt({ html: true });
const { width, height } = firstImage;
const imageWidth = `${width}px`;
---
<style lang="scss" is:global>
  [data-hero-splash] {
    @extend %primary-wrapper;
    
    @include media-tablet {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      min-height: 80vh;
    }

    > .content {
      @include media-tablet-max {
        padding-bottom: 4rem;
      }
      @include media-tablet {
        flex: 0 1 auto;
        min-width: 400px;
      }
      @include media-laptop {
        min-width: 550px;
      }
    }
    > .image {
      position: relative;
      // z-index: -1;
      // margin-bottom: -100px;

      img {
        width: 100%;
      }

      @include media-tablet {
        flex: 0 1 auto;
        margin-bottom: 0;
        max-width: var(--imageWidth);
      }
    }
  }
</style>

<div data-hero-splash>
  <div class="image" style={{'--imageWidth': imageWidth}}>
  { image && <Image images={image} />}
  </div>
  <div class="content">
    { content && <div class="rt" set:html={md.render(content)}></div>}
    { cta && <CTA {...cta} />}
  </div>
</div>
