---
const { label, link, style, is_button = false, type = 'button' } = Astro.props;
const currentPath = Astro.url.pathname;
const ariaProperties = currentPath === link ? {"aria-current":"page"} : {};
---
<style lang="scss" is:global>
  [data-global-cta] {
    font-size: $text_mobile_cta;
    line-height: $text_mobile_cta_line_height;
    font-weight: $text_weight_bold;
    color: $color_text_default;
    text-transform: uppercase;
    text-decoration: none;
    border: solid 2px $color_text_default;
    border-radius: .575em;
    padding: .575em .855em;
    display: inline-block;
    background-color: $color_cta_bkg;
    transition: background-color 500ms;

    @include media-laptop {
      font-size: $text_desktop_cta;
      line-height: $text_desktop_cta_line_height;
      border-radius: .444em;
      padding: .444em 1em;
    }

    &.cta--primary {}
    &.cta--secondary {
      border-color: $color_cta_secondary;
    }
    &.cta--loud {
      border-color: $color_cta_loud;
    }
    &.cta--simple {
      display: inline-block;
      background-color: rgba($color_text_default, .125);
      text-decoration: none;
      padding: 0 .5em;
      border-radius: 8px;
      border: none;

      &[aria-current='page'] {
        background-color: rgba($color_text_default, .376);
        cursor: default;
      }
    }

    &:hover {
      background-color: $color_cta_hover;
      cursor: pointer;
    }
  }
</style>
{ !is_button && (
  <a data-global-cta {...ariaProperties} class={`cta--${style}`} href={ link }>{ label || (<slot/>) }</a>
)}
{ !!is_button && (
  <button data-global-cta class={`cta--${style}`} type={type}>{ label || (<slot/>) }</button>
)}