---
import Component from "src/shared/astro/component.astro"
const { form: {fields} } = Astro.props;
---
<style lang="scss" is:global>
  [data-form-builder] {
    display: grid;
    row-gap: 1.25rem;
    column-gap: .75rem;
    margin-bottom: 1.25rem;
    // grid-template-columns: repeat(${({mobileColumns = 2}) => mobileColumns}, minmax(0, 1fr));

    @include media-tablet {
      // grid-template-columns: repeat(${({tabletColumns = 2}) => tabletColumns}, minmax(0, 1fr));
    }
    @include media-laptop {
      // grid-template-columns: repeat(${({desktopColumns = 2}) => desktopColumns}, minmax(0, 1fr));
    }

    .form-input {
      > label {
        display: block;
        margin-bottom: .25em;
      }
      fieldset {
        border: none;
        margin: 0;
        padding: 0;
      }
    }
    .required {
      
    }
  }
</style>
<div data-form-builder>
  <Component list={fields} />
</div>