---
import 'normalize.css';
import "../styles/theme.scss";
import DefaultSVG from "src/components/svg/default.astro";
import Header from "src/components/layout/header.astro";
import Footer from "src/components/layout/footer.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <DefaultSVG />
    <Header />
    <slot />
    <Footer />
  </body>
</html>