---
import Layout from "./Layout.astro";
import page from "@shared/page.js";
import PageSVG from "@components/svg/page.astro";
import Section from '@components/layout/section.astro'

const componentImports = import.meta.glob('../components/**/*.astro', {
  eager: true,
});

type Props = {
  frontmatter: {
    content_blocks: any;
  };
};

const { frontmatter, frontmatter: {content_blocks} } = Astro.props;

if (!frontmatter) {
  throw new Error("Page frontmatter must be defined");
}

const [components, adapter] = page(content_blocks, componentImports);
---

<Layout {...frontmatter}>
  <PageSVG />
  <main>
    {content_blocks?.map((block, i) => {
      const Component = components[block._bookshop_name];
      const blockData = adapter(block, i);
      return (
        <Section {...blockData.section}>
          <Component bookshop:live {...blockData} />
        </Section>
      );
    })}
  </main>
</Layout>