---
const { caption, icon = 'camera' } = Astro.props;
---
<style lang="scss" is:global>
  [data-global-media-caption] {
    display: flex;
    align-items: center;
    color: $color_grey_1;
    p {
      margin: 0;
      font-style: italic;
    }
    svg {
      margin-right: .5rem;
      height: 1rem;
      width: 1rem;
      fill: $color_grey_1;
    }
  }
</style>
<div data-global-media-caption class="small">
  <svg><use xlink:href={`#${icon}`}></use></svg>
  <p>{ caption }</p>
</div>